@import "tailwindcss";
@import "@heroui/styles";

:root {
  --field-border-width: 1px;
  --field-border: var(--border);
}

html {
  background-color: var(--background);
  overscroll-behavior-y: none;
}

.menu-item,
.menu-item * {
  box-shadow: none !important;
  outline: none !important;
}

.menu-item[data-focus-visible="true"]:not([data-hovered="true"]):not(:hover) {
  box-shadow: 0 0 0 2px var(--focus) !important;
}
